$font_main: "Poppins", sans-serif;
$font-size: 14px;
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #757575;
$color_active: #5932ea;
$color_green: #16c098;
$color_success: #008767;
$color_success_bg: rgba(22, 192, 152, 0.38);
$color_success_light: #00b087;
$color_error: #df0404;
$color_error_light: #ffc5c5;
$color_main_bg: #fafbff;
$color_fields_bg: #f9fbff;
$color_text: #292d32;
$color_text_light: #b5b7c0;
$color_divider: #eeeeee;
$color_input_icons: #7e7e7e;
$color_pagination_bg: #f5f5f5;
$color_pagination_text: #404b52;
$color_nav: #9197b3;
$color_version: #838383;

$trsn: 0.2s;
