.nav
    ul
        li.nav__item.hidden
            a.nav__link.js-nav__link(href='/')
                span.nav__item-icon
                    svg
                        use(xlink:href="img/sprites/sprite.svg#key-square")
                span.nav__item-text Dashboard
                span.nav__item-arrow
        li.nav__item.hidden
            a.nav__link.js-nav__link(href='/product')
                span.nav__item-icon
                    svg
                        use(xlink:href="img/sprites/sprite.svg#3d-square")
                span.nav__item-text Product
                span.nav__item-arrow
                    svg
                        use(xlink:href="img/sprites/sprite.svg#chevron-right")
        li.nav__item.hidden
            a.nav__link.js-nav__link.active(href='/customers')
                span.nav__item-icon
                    svg
                        use(xlink:href="img/sprites/sprite.svg#user-square")
                span.nav__item-text Customers
                span.nav__item-arrow
                    svg
                        use(xlink:href="img/sprites/sprite.svg#chevron-right")
        li.nav__item.hidden
            a.nav__link.js-nav__link(href='/income')
                span.nav__item-icon
                    svg
                        use(xlink:href="img/sprites/sprite.svg#wallet-money")
                span.nav__item-text Income
                span.nav__item-arrow
                    svg
                        use(xlink:href="img/sprites/sprite.svg#chevron-right")
        li.nav__item.hidden
            a.nav__link.js-nav__link(href='/promote')
                span.nav__item-icon
                    svg
                        use(xlink:href="img/sprites/sprite.svg#discount-shape")
                span.nav__item-text Promote
                span.nav__item-arrow
                    svg
                        use(xlink:href="img/sprites/sprite.svg#chevron-right")
        li.nav__item.hidden
            a.nav__link.js-nav__link(href='/help')
                span.nav__item-icon
                    svg
                        use(xlink:href="img/sprites/sprite.svg#message-question")
                span.nav__item-text Help
                span.nav__item-arrow
                    svg
                        use(xlink:href="img/sprites/sprite.svg#chevron-right")
