a(href="/" class="logo")
    span(class="logo__icon")
        svg
            use(xlink:href="img/sprites/sprite.svg#setting")
    span(class="logo__text")
        | Dashboard
    span(class="logo__version") v.01